.navbar-brand {
    font-weight: bold;
    color: "black";
}

.navbar-nav {
    margin-left: auto;
}

#content {
    margin-top: 30px;
}

#content h1 {
    margin-bottom: 20px;
}
body {
    padding: 20px;
    margin: 0;
    background-color: lavenderblush;
}

#content {
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

canvas {
    display: block;
    margin: 20px auto;
}

.navbar {
    margin-bottom: 20px;
}
