<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">
    
    <title>Music Data - {% block title %}{% endblock %}</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('render_about') }}">Music Data</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('render_about') }}">About the Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'databygenre' %}active{% endif %}" href="{{ url_for('render_databygenre') }}">Data by Genre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'tempovsyears' %}active{% endif %}" href="{{ url_for('render_tempovsyears') }}">Tempo vs Years</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
	<div id="content">
    	<h1>{% block heading %}{% endblock %}</h1>
    	{% block body %}{% endblock %}
    </div>
    
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
   
  </body>
</html>